<div id="footerwrap" class="navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <!--
            <h4>Redes Sociais</h4>
            <div class="hline-w"></div>
            -->
            <p style="padding-top: 15px; padding-bottom: 0px;">
                {% for network in site.social %}
                    <a href="{{ network.url }}" target="_blank">
                        <i class="fa-2x fa-{{ network.title }} social-color"></i>
                    </a> 
                {% endfor %}
            </p>
        </div>
        <!--/row -->
    </div>
    <!--/container -->
</div>
<!--/footerwrap -->