/* Theme Overrides */

.navbar-brand {
    font-family: PT Sans Narrow;
    font-size: 2.8em !important;
}

.navbar-default .navbar-nav > li > a {
    font-family: PT Sans Narrow;
    font-size: 1.25em !important;
}

.navbar-default .navbar-nav > li > a:hover {
	color: {{ site.colors.link_hover }};
}

.postTitle {
    font-family: Ubunto;
    color: #202020;
    margin-top: 10px;
    margin-bottom: 0px;
}

.navbar-brand {
    padding-top: 10px !important;
}

.navbar-brand:hover {
    color: {{ site.colors.link_hover }} !important;
}

.postAuthor {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #AAA;
}

p {
    color: #505050;
}

/* Calendar Icon */

time.icon {
    font-size: 0.8em;/* change icon size */
    display: block;
    position: relative;
    float: left;
    margin-right: 1em;
    width: 5.5em;
    height: 7em;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(0deg) skewY(0deg);
    -webkit-transform-origin: 50% 10%;
    transform-origin: 50% 10%;
}

time.icon * {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

time.icon strong {
    position: absolute;
    top: 0;
    padding: 0.05em 0;
    font-size: 1.1em;
    font-weight: bold;
    color: #FFF;
    background-color: {{site.colors.calendar_background}};
    border-bottom: 1px dashed {{site.colors.calendar_highlight}};
    box-shadow: 0 2px 0 {{site.colors.calendar_highlight}};
}

time.icon em {
    color: {{site.colors.calendar_highlight}};
    position: absolute;
    bottom: 0em;
    color: {{site.colors.calendar_highlight}};
}

time.icon span {
    width: 100%;
    font-size: 2.2em;
    padding-top: 1.3em;
    color: {{site.colors.calendar_background}};
}

/*
time.icon:hover, time.icon:focus
{
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg)  skewY(0deg); }
  20%  { transform: rotate(12deg) skewY(4deg); }
  60%  { transform: rotate(-9deg) skewY(-3deg); }
  80%  { transform: rotate(6deg)  skewY(-2deg); }
  100% { transform: rotate(0deg)  skewY(0deg); }
}
*/
/* /Calendar Icon */