---
layout: default
---

<div class="container-fluid mtb" style="margin-top: 90px;">
    <div class="row">
        <div class="col-lg-12" style="text-align:center; margin: 10px;">
            <a href="{{ page.url | prepend: site.baseurl }}">
                <h3 class="postTitle">{{ page.title }}</h3>
            </a>
        </div>
    </div>

    <img class="img-responsive" style="float: left; width: 450px; height: 300px; margin: 10px; margin-left: 0px;"
             src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}" />

    <div class="row" style="margin: 2px;">
        <small class="postAuthor"> Autor: {{ page.author }} </small>
        <small class="postDetailDate">
            <span>{{ page.date | date: "%-d" }}.</span>
            <span>
                {% assign month = page.date | date: "%-m" %}
                {% case month %}
                    {% when '1' %} JAN
                    {% when '2' %} FEV
                    {% when '3' %} MAR
                    {% when '4' %} ABR
                    {% when '5' %} MAI
                    {% when '6' %} JUN
                    {% when '7' %} JUL
                    {% when '8' %} AGO
                    {% when '9' %} SET
                    {% when '10' %} OUT
                    {% when '11' %} NOV
                    {% when '12' %} DEZ
                {% endcase %}.
                {{ page.date | date: "%y" }}
            </span>
        </small>
      </div>
      <div style="text-align: justify; margin: 2px;">
        {{ content }}
      </div>
      <div style="text-align: justify; margin: 2px; position: relative;">
        {% include comments.html %}
      </div>
    </div>
</div><!--/container -->
